@import '../../globals.css';
.button {
    float: right;
    margin-top: 5px;
    color: #fff;
    font-size: 1rem;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    border: 0;
    outline: 0;
    background: var(--button-color);
}