@import '../../globals.css';

.dimensiones{
    width: 210px;
    height: auto;
    border-radius: 20px;
}
.mes{
    flex-basis: 10rem;
    flex-grow: 1;
    margin: 10px;
    text-decoration-line: none;
}
.diverso{
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
.diverso:link {
    background: white;
}
.diverso:hover {
    
    background: rgb(197, 235, 191);
}