@import '../../globals.css';

.color{
    background-color: var(--primary-color);
}
img {
    width: 36px;
    height: 38px;
    margin-right: 12px;
}
i{
    margin-left: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.cursor{
    cursor: pointer;
}
h5{
    margin-top: 12px;
    color: white;
}
