:root{
    --primary-color: #235e1b;
    --secundary-color: #70f35f;
/* 
    --primary-color: #ffffff;
    --secundary-color: #c1d8be; */

    --contain-color: #cff7ca;
    --contain2-color: #91e684;    

    --title-color: #1e1f1e;    
    --subtitle-color: #000000;

    --button-color: #012405;
}
.danger{
    text-align: center;
    justify-content: center;
    background-color: red;
}
body {
    background-image: linear-gradient(135deg, var(--secundary-color) 10%, var(--primary-color) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}